.Form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Element {
    margin: 0 5px;
}

.Input {
    font-family: 'Lato';
    font-size: 1.1em;
    margin: 0 5px;
    background-color: ivory;
    /* border-color: oldlace; */
    border: 2px solid oldlace;
    
}

.TextOnes{
    width: 30%;
}

.FormType {
    text-indent: 50%;
}
.TypeWidth {
    width: 15%;
}
.Submit {
    width: 15%;
}
.Fieldset {
    display: flex;
    flex-direction: column;
}