.InfoDiv {
    width: 90%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px auto;
    border-radius: 10px;
    padding: 0 7px;
}


.BudgetDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.PerBox {
    padding: 10px 10px;
    /* margin: 6px; */
    height: 40px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    width: 40px;
}
.PerBox h3 {
    line-height: 0.2;   
}
.BudgetBox {
    margin-left: 5px;
    margin-right: 10px
}

@media (min-width: 600px) {
    .InfoDiv {
        width: 30%;

    max-height: 20%;
        padding: 7px;
    }

    .PerBox {
        padding: 0 10px;
        margin-top: 6px;
    }

}
