.BudgetRecord {
    border-radius: 5px;
    padding: 7px 20px;
    margin: 5px;
    width: 90%;
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Perc {
    margin-left: 3px;
    padding: 3px;
    border-radius: 5px;
    font-size: 0.7em;
    color: red;
    background-color: azure;
}
.RButton {
    background-color: rgb(200, 150, 022);
    border: 2px solid red;
    border-radius: 5px;
    width: 20px;
    margin: 0 3px;
}